body {
  margin: 20px;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-color: lightgrey;
}

h1 {
  font-size: 24px;
  padding: 0 0 20px;
  margin: 0;
  color: rgb(58, 58, 58);
}

input {
  display: block;
  margin: 0.5em 0;
}

.info {
  display: inline-block;
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
  background-color: white
}

.key {
  font-weight: bold;
  margin-right: 2px;
}

.value {
  margin-left: 2px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.employee-modal {
  position: fixed;
  z-index: 1;
  margin:0 auto;
  font-weight: bold;
}

.employee-modal select {
  margin-left: 1em
}
